body{
     padding: 0px;
     margin: 0px;
     background-color: #131313;
}
.main{
     display: grid;
     place-content: center;
}
.register{
     margin-top: 20px;
     background-color: whitesmoke;
     border-radius: 7px;
     text-align: center;
     width: 500px;
}
.register p{
     font-size: 20px;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     font-style: italic;
}
.register form input{
     background-color: transparent;
     outline: none;
     border: 2px solid #0c0303;
     width: 90%;
     height: 30px;
     margin-bottom: 30px;
     border-radius: 10px;
     color: #131313;
}
.register button{
     margin-bottom: 20px;
     font-size: 18px;
     text-transform: uppercase;
     padding: 10px 25px;
     border: 2px solid black;
     cursor: pointer;
}
.back{
     background-color: rgb(51, 231, 156);
     margin-top: 10px;
     float: right;
     padding: 10px 15px;
     border-radius: 7px;
     border: none;
}